.innerClass {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px auto 20px auto;
  width: 50%;
}

.itemClass {
  list-style: none;
}

.linkClass {
  text-decoration: none;
  color: #4a82e1;
  padding: 3px;
}

.linkClass:hover {
  color: #8fabda;
}

.activeClass {
  border: 1px solid #4a82e1;
  border-radius: 2px;
}
