.pagination {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px auto 20px auto;
  width: 50%;
}

.button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  padding: 2px 8px;
  font-size: 14px;
  font-weight: 500;
  color: #4a82e1;
}

.button:hover {
  color: #8fabda;
}

.active {
  border: 1px solid #4a82e1;
  border-radius: 2px;
}
