.finish {
  background: #4ee4a5;
}

.finish:hover {
  background: #41c48d;
}

.finish:disabled {
  background: #83ffcb;
}

.checkboxLabel {
  font-size: 14px;
  color: #657c9a;
  margin-left: 10px;
}

.checkboxLabelCont {
  margin-bottom: 10px;
}
