.btnCont {
  display: flex;
}

.forwardBtn {
  position: absolute;
  width: 100px;
  height: 40px;
  border: none;
  background: #5e97f3;
  color: #fff;
  font-size: 14px;
  outline: none;
  cursor: pointer;
}

.forwardBtn:disabled {
  background: #c1cfe0;
}
