.addButton {
  margin-top: 15px;
  background: none;
  border: none;
  outline: none;
  display: flex;
  color: #657c9a;
  font-size: 14px;
}

.addButton:hover {
  cursor: pointer;
}

.addIcon {
  margin-right: 10px;
}
