.fileInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.fileInputLabel {
  font-size: 14px;
  color: #9bb0cb;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  cursor: pointer;
  margin-bottom: 10px;
}

.textInput {
  display: none;
}

.avatarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
