.title {
  height: 145px;
  display: flex;
  flex-direction: row;
  color: #475666;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title h1 {
  font-weight: 700;
  font-size: 35px;
}
