.icon {
  margin-right: 10px;
}

.links {
  color: #fff;
  opacity: 0.5;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin-left: 60px;
}

.links:hover,
.active {
  opacity: 1;
}
