.icon {
  margin-right: 10px;
}

.button {
  color: #fff;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin-left: 60px;
}

.button:hover {
  color: #222;
}
