.popup {
  display: flex;
  z-index: 1;
  height: 40px;
  padding: 12px 0 12px 24px;
  background: #5e97f3;
  color: #fff;
  font-size: 14px;
}

.popupText {
  font-weight: 500;
  margin-right: 10px;
}

.popupBtn {
  font-weight: 800;
}

.close {
  position: absolute;
  right: 25px;
}
