.popup {
  z-index: 1;
  height: 40px;
  display: flex;
  padding: 12px 0 12px 24px;
  background: #5e97f3;
  color: #fff;
  font-size: 14px;
  position: relative;
}

.popupTextContent {
  font-weight: 500;
  margin-right: 10px;
}

.button {
  font-weight: 800;
  cursor: pointer;
}

.closeButton {
  position: absolute;
  right: 25px;
  cursor: pointer;
}

.closeButton:hover path {
  stroke: #fff;
}
