.icon {
  margin-right: 10px;
}

.button {
  color: #fff;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.button:first-child {
  margin-right: 60px;
}
