.form {
  display: flex;
  padding: 0 calc(50% - 385px);
  margin-top: 45px;
}

.formSection {
  max-width: 400px;
  width: 100%;
}

.avatarInputCont {
  display: flex;
  justify-content: left;
}

.passwordInputCont {
  position: relative;
  margin-top: 45px;
}

.showPassBtn {
  position: absolute;
  top: 11px;
  cursor: pointer;
  right: 15px;
  border: none;
  background: none;
  outline: none;
}

.showPass {
  -webkit-text-security: disc;
  -moz-text-security: disc;
  text-security: disc;
}
