.listItem {
  height: 90px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #475666;
  font-size: 14px;
}

.listItem:nth-child(2n) {
  background: #e7f0ff;
}

.avatar {
  width: 6%;
}

.name {
  width: 23%;
  display: flex;
  flex-direction: column;
}

.userName {
  font-size: 9px;
}

.company {
  width: 20%;
}

.contacts {
  width: 23%;
}

.updates {
  width: 10%;
}

.buttons {
  width: 10%;
  display: flex;
  justify-content: space-evenly;
}

.deleteBtn {
  cursor: pointer;
}
