.passwordInputCont {
  position: relative;
  margin-top: 45px;
}

.showPassBtn {
  position: absolute;
  top: 11px;
  cursor: pointer;
  right: 15px;
  border: none;
  background: none;
  outline: none;
}

.showPass {
  -webkit-text-security: disc;
  -moz-text-security: disc;
  text-security: disc;
}
